*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI",sans-serif;
}

body{

    height:100vh;

    overflow:hidden;

    background:linear-gradient(135deg,
    #03045e,
    #0077b6,
    #90e0ef);

}

.background{

    position:absolute;

    width:100%;

    height:100%;

    overflow:hidden;

}

.blob{

    position:absolute;

    border-radius:50%;

    filter:blur(80px);

    opacity:.45;

}

.blob1{

    width:350px;

    height:350px;

    background:#00b4d8;

    top:-120px;

    left:-100px;

}

.blob2{

    width:420px;

    height:420px;

    background:#caf0f8;

    bottom:-150px;

    right:-150px;

}

.login-container{

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

    position:relative;

}

.login-card{

    width:420px;

    padding:45px;

    border-radius:30px;

    backdrop-filter:blur(18px);

    background:rgba(255,255,255,.15);

    border:1px solid rgba(255,255,255,.25);

    box-shadow:0 25px 45px rgba(0,0,0,.25);

    animation:fade .8s;

}

.logo{

    text-align:center;

    color:white;

    margin-bottom:25px;

}

.logo i{

    font-size:40px;

    color:#caf0f8;

}

.logo h2{

    margin-top:10px;

    font-weight:700;

}

.avatar{

    width:110px;

    height:110px;

    margin:auto;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    background:rgba(255,255,255,.18);

    color:white;

    font-size:55px;

    margin-bottom:35px;

}

.input-group{

    display:flex;

    align-items:center;

    margin-bottom:25px;

    border-bottom:2px solid rgba(255,255,255,.45);

    padding-bottom:8px;

}

.input-group i{

    color:white;

    width:30px;

}

.input-group input{

    width:100%;

    border:none;

    outline:none;

    background:transparent;

    color:white;

    font-size:16px;

}

.input-group input::placeholder{

    color:rgba(255,255,255,.75);

}

.input-group:focus-within{

    border-color:#caf0f8;

}

.remember{

    display:flex;

    justify-content:space-between;

    color:white;

    font-size:14px;

    margin-bottom:30px;

}

.btn-login{

    width:100%;

    border:none;

    padding:15px;

    border-radius:15px;

    background:linear-gradient(90deg,#00b4d8,#0077b6);

    color:white;

    font-weight:700;

    letter-spacing:1px;

    transition:.35s;

}

.btn-login:hover{

    transform:translateY(-4px);

    box-shadow:0 12px 25px rgba(0,180,216,.45);

}

@keyframes fade{

    from{

        opacity:0;

        transform:translateY(40px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}